@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.App {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 690px;
    margin: 0 auto;
}

main a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 15px 30px 15px;
    background: #2061AD;
    border-top: 1px solid #000;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.Weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.loading {
    margin: 0 auto;
}

@media (max-width: 705px) {
    main {
        width: 460px;
    }
}

@media (max-width: 475px) {
    main {
        width: 230px;
    }
}